<h1>Reviews</h1>
    {{#each reviews}}
    <a href="/reviews/{{this._id}}">
        <h5>{{this.title}}</h5>
        <small>{{this.movieTitle}}</small>
        <p>{{this.description}}</p>
        <small>{{this.rating}}</small>
    </a>
    {{/each}}
